<div id="confirmation" class="modal">
  <div class="modal-content-custom">

    <%= image_tag asset_path('close.svg'), class: 'close modal-close'  %>

    <section class="modal-card-body">
      <h3>Ověření čísla</h3>
      <p>
        Na telefonní číslo jsme vám odeslali ověřovací kód. Vyplňte jej níže.
      </p>
      <%= form_with id: 'confirmation-form', url: confirm_volunteer_path, remote: true do |form| %>
        <div class="input-field">
          <%= form.number_field :confirmation_code, id: 'validation-code', class: 'validate', required: true, max: 9999, 'data-length': 4 %>
          <%= form.label :confirmation_code, I18n.t('activerecord.attributes.volunteer.confirmation_code') %>
        </div>

        <div class="confirmation-errors">
          <ul id="confirmation-errors-list" class="error-list">

          </ul>
        </div>

        <p class="smaller">
          Nepřišel vám ověřovací kód? <%= link_to 'Zkusit znovu', resend_volunteer_path, remote: true, method: :post  %>
        </p>

        <%= form.submit 'Dokončit registraci', class: 'form-button', id: 'cta-confirm-registration-code', data: { disable_with: "Dokončit registraci..." } %>
      <% end %>
    </section>
  </div>
</div>

<script>
  $(document).ready(function () {
      M.CharacterCounter.init(document.querySelectorAll('#validation-code'));
  });
</script>