<div id="confirmation" class="modal">
  <div class="modal-content-custom">

    <%= image_tag asset_path('close.svg'), class: 'close modal-close'  %>

    <section class="modal-card-body">
      <h3><%= I18n.t 'modals.confirmation.verifytitle' %></h3>
      <p>
        <%= I18n.t 'modals.confirmation.verifysubtitle' %>
      </p>
      <%= form_with id: 'confirmation-form', url: confirm_volunteer_path, remote: true do |form| %>
      <div class="input-field">
        <%= form.number_field :confirmation_code, id: 'validation-code', class: 'validate', required: true, max: 9999, 'data-length': 4 %>
        <%= form.label :confirmation_code, I18n.t('activerecord.attributes.volunteer.confirmation_code') %>
      </div>

      <div class="confirmation-errors">
        <ul id="confirmation-errors-list" class="error-list">

        </ul>
      </div>

      <p class="smaller">
        <%= I18n.t 'modals.confirmation.notreceived' %> <%= link_to I18n.t('modals.confirmation.tryagain'), resend_volunteer_path, remote: true, method: :post  %>
      </p>

      <%= form.submit I18n.t('modals.confirmation.finishregistration'), class: 'form-button', data: { disable_with: I18n.t("modals.confirmation.disabledfinishregistration") } %>
      <% end %>
    </section>
  </div>
</div>