<div id="registration" class="modal">
  <div class="modal-content-custom">

    <%= image_tag asset_path('close.svg'), class: 'close modal-close'  %>

    <section class="modal-card-body">

      <div class="modal-left">
        <div>
          <p class="modal-thanks">Patří vám velké díky!</p>
          <p class="modal-explain">Je skvělé, že chcete pomáhat. Jedeme v tom společně. Pomůžeme.si.</p>
        </div>
        <div class="illustration">
          <%= image_tag asset_path('registration-background.svg'), class: 'background' %>
          <%= image_tag asset_pack_path('media/images/one-hand.svg'), class: 'one-hand' %>
        </div>
      </div>

      <div class="modal-right">
        <h3>Vyplňte potřebné údaje</h3>
        <div class="registration-errors">
          <ul id="registration-errors-list">

          </ul>
        </div>
        <%= form_with model: Volunteer.new, id: 'registration-form', url: register_volunteer_path, remote: true do |form| %>
          <div class="input-field">
            <%= form.text_field :first_name, class: 'validate', required: true %>
            <%= form.label :first_name %>
          </div>

          <div class="input-field">
            <%= form.text_field :last_name, class: 'validate', required: true %>
            <%= form.label :last_name %>
          </div>

          <div>+420</div>

          <div class="input-field">
            <%= form.telephone_field :phone, class: 'validate', required: true %>
            <%= form.label :phone %>
          </div>

          <div class="input-field">
            <%= form.text_field :email, class: 'validate', required: true %>
            <%= form.label :email %>
          </div>

          <div class="input-field">
            <%= form.text_field :street, class: 'validate', required: true %>
            <%= form.label :street %>
          </div>

          <div class="input-field">
            <%= form.text_field :city, class: 'validate', required: true %>
            <%= form.label :city %>
          </div>

          <div class="input-field">
            <%= form.text_field :zipcode, class: 'validate', required: true %>
            <%= form.label :zipcode %>
          </div>

          <label>
            <%= form.check_box :terms_of_service %>
            <span>Souhlasím se zpracováním osobních údajů</span>
          </label>
          <label>
            <%= form.check_box :age_confirmed %>
            <span>Prohlašuji, že jsem osoba starší 18 let</span>
          </label>

          <div class="field is-grouped">
            <div class="control">
              <%= form.submit 'Zaregistrovat se', class: 'form-button' %>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</div>
