<div id="registration" class="modal">
  <div class="modal-content-custom">

    <%= image_tag asset_path('close.svg'), class: 'close modal-close' %>

    <section class="modal-card-body">

      <div class="modal-left">
        <div>
          <p class="modal-thanks"><%= I18n.t 'modals.registration.thanks' %></p>
          <p class="modal-explain"><%= I18n.t 'modals.registration.thankssubtitle' %></p>
        </div>
        <div class="illustration">
          <%= image_tag asset_path('registration-background.svg'), class: 'background' %>
          <%= image_tag asset_pack_path('media/images/one-hand.svg'), class: 'one-hand' %>
        </div>
      </div>

      <%= render "home/partials/#{ENV.fetch('COUNTRY', :cz)}/registration_form" %>
    </section>
  </div>
</div>