<div id="thank-you" class="modal">
  <div class="modal-content-custom">

    <%= image_tag asset_path('close.svg'), class: 'close modal-close'  %>

    <section class="modal-card-body">
      <%= image_tag asset_path('thank-you.svg'), class: 'success-image' %>
      <h3><%= I18n.t 'modals.thankyou.title' %></h3>
      <% if @partner_signup_group.present? %>
      <p>
        <%= @partner_signup_group&.thank_you&.html_safe %>
      </p>
      <% else %>
      <p><%= I18n.t 'modals.thankyou.subtitle' %></p>
      <% end %>

      <div class="divider"></div>

      <p class="social-text"><%= I18n.t 'modals.thankyou.helpinmeantime' %></p>

      <div class="social-sites">
        <a class="site" href="<%= I18n.t 'socials.facebooklink' %>" target="_blank">
          <div class="circle">
            <%= image_tag asset_path('social-facebook.svg')  %>
          </div>
          <div class="label">Facebook</div>
        </a>
        <a class="site" href="<%= I18n.t 'socials.twitterlink' %>" target="_blank">
          <div class="circle">
            <%= image_tag asset_path('social-twitter.svg')  %>
          </div>
          <div class="label">Twitter</div>
        </a>
      </div>
    </section>
  </div>
</div>