<div class="modal-right">
  <h3><%= I18n.t 'modals.registration.title' %></h3>
  <%= form_with model: Volunteer.new, id: 'registration-form', url: register_volunteer_path, remote: true do |form| %>
  <div class="input-field">
    <%= form.text_field :first_name, class: 'validate', required: true, ariaRequired: true %>
    <%= form.label :first_name, class: 'required' %>
  </div>

  <div class="input-field">
    <%= form.text_field :last_name, class: 'validate', required: true, ariaRequired: true %>
    <%= form.label :last_name, class: 'required' %>
  </div>

  <div class="phone-row">
    <div class="phone-prefix">+<%= I18n.t 'modals.registration.phoneprefix' %></div>

    <div class="input-field">
      <%= form.telephone_field :phone, class: 'validate', required: true, ariaRequired: true %>
      <%= form.label :phone, class: 'required' %>
    </div>
  </div>

  <div class="input-field">
    <%= form.text_field :email, class: 'validate', required: false, ariaRequired: true %>
    <%= form.label :email, class: 'required' %>
  </div>

  <div class="address-title">
    <span><%= I18n.t 'modals.registration.addresstitle' %></span>

    <img src="<%= asset_pack_path('media/images/tooltip.svg') %>" class="tooltipped" data-position="top" data-tooltip="<%= I18n.t 'modals.registration.addresshelper' %>" />
  </div>

  <div class="input-field">
    <%= form.text_field :street_search, class: 'validate autocomplete', required: true, ariaRequired: true %>
    <%= form.label :street_search, class: 'required' %>
  </div>

  <%= form.hidden_field :street %>
  <%= form.hidden_field :street_number %>
  <%= form.hidden_field :city %>
  <%= form.hidden_field :city_part %>
  <%= form.hidden_field :postal_code %>
  <%= form.hidden_field :country_code %>
  <%= form.hidden_field :geo_entry_id %>
  <%= form.hidden_field :geo_unit_id %>
  <%= form.hidden_field :geo_coord_x %>
  <%= form.hidden_field :geo_coord_y %>

  <div class="input-field">
    <%= form.text_area :description, class: 'validate', required: false, placeholder: '' %>
    <%= form.label :description %>
  </div>

  <div class="checkbox-row">
    <label>
      <%= form.check_box :terms_of_service %>
      <span class="text-required"><%= I18n.t 'modals.registration.consenttoterms' %> <%= link_to I18n.t('modals.registration.usage'), I18n.t('modals.registration.usagepdf'), target: '_blank' %> <%= I18n.t 'modals.registration.and' %> <%= link_to I18n.t('modals.registration.protectionofdata'), I18n.t('modals.registration.protectionofdatapdf'), target: '_blank' %></span>
    </label>
  </div>
  <div class="checkbox-row">
    <label>
      <%= form.check_box :age_confirmed %>
      <span class="text-required"><%= I18n.t 'modals.registration.ageconfirmation' %></span>
    </label>
  </div>

  <div class="registration-errors">
    <ul id="registration-errors-list" class="error-list">

    </ul>
  </div>

  <%= form.submit I18n.t('modals.registration.register'), class: 'form-button', data: { disable_with: I18n.t("modals.registration.disabledregister") } %>
  <%= recaptcha_v3(action: 'login') %>
  <% end %>
</div>