<section class="section">
  <div class="container">
    <h1 class="title">
      Hello World
    </h1>
    <p class="subtitle">
      My first website with <strong>Bulma</strong>!
    </p>

    <button class="button is-link modal-button" data-target="registration2" aria-haspopup="true">
      Chci pomáhat
    </button>

    <button class="button is-link modal-button" data-target="confirmation" aria-haspopup="true">
      Potvrdit
    </button>

    <%= link_to 'set', test_set_home_index_path, method: :post, remote: :true %>
    <%= link_to 'test', test_post_home_index_path, method: :post, remote: :true %>
  </div>
</section>

<%= render 'home/modals/registration' %>

<div id="registration" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="registration-errors">
        <ul id="registration-errors-list">

        </ul>
      </div>
      <%= form_with model: Volunteer.new, id: 'registration-form', url: register_volunteer_path, remote: true do |form| %>
        <div class="field">
          <%= form.label :first_name, class: 'label' %>
          <div class="control">
            <%= form.text_field :first_name, class: 'input', placeholder: Volunteer.human_attribute_name(:first_name), required: true %>
          </div>
        </div>

        <div class="field">
          <%= form.label :last_name, class: 'label' %>
          <div class="control">
            <%= form.text_field :last_name, class: 'input', placeholder: Volunteer.human_attribute_name(:last_name), required: true %>
          </div>
        </div>

        <div class="field">
          <%= form.label :phone, class: 'label' %>
          <div class="field-body">
            <div class="field is-expanded">
              <div class="field has-addons">
                <p class="control">
                  <a class="button is-static">
                    +420
                  </a>
                </p>
                <p class="control is-expanded">
                  <%= form.telephone_field :phone, class: 'input', placeholder: Volunteer.human_attribute_name(:phone), required: true %>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="field">
          <%= form.label :email, class: 'label' %>
          <div class="control">
            <%= form.telephone_field :email, class: 'input', placeholder: Volunteer.human_attribute_name(:email), required: true %>
          </div>
        </div>

        <div class="field">
          <%= form.label :street, class: 'label' %>
          <div class="control">
            <%= form.telephone_field :street, class: 'input', placeholder: Volunteer.human_attribute_name(:street), required: true %>
          </div>
        </div>

        <div class="field">
          <div class="field-body">
            <div class="field">
              <%= form.label :city, class: 'label' %>
              <p class="control is-expanded">
                <%= form.text_field :city, class: 'input', placeholder: Volunteer.human_attribute_name(:city), required: true %>

              </p>
            </div>
            <div class="field">
              <%= form.label :zipcode, class: 'label' %>
              <p class="control is-expanded">
                <%= form.text_field :zipcode, class: 'input', placeholder: Volunteer.human_attribute_name(:zipcode), required: true %>
              </p>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="checkbox">
            <input type="checkbox">

            Souhlasím se zpracováním osobních údajů
          </label>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <%= form.submit 'Zaregistrovat se', class: 'button is-link' %>
          </div>
        </div>
      <% end %>
    </section>
    <footer class="modal-card-foot">
    </footer>
  </div>
</div>

<div id="confirmation" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="confirmation-errors">
        <ul id="confirmation-errors-list">

        </ul>
      </div>
      <%= form_with id: 'confirmation-form', url: confirm_volunteer_path, remote: true do |form| %>
        <div class="field">
          <%= form.label :confirmation_code, class: 'label' %>
          <div class="control">
            <%= form.text_field :confirmation_code, class: 'input', required: true %>
          </div>
        </div>


        <div class="field is-grouped">
          <div class="control">
            <%= form.submit 'Potvrdit kod', class: 'button is-link' %>
          </div>
        </div>
      <% end %>
    </section>
    <footer class="modal-card-foot">
    </footer>
  </div>
</div>