<section class="hero">
  <div class="hero-body container">
    <div class="columns">
      <div class="column has-text-centered">
        <h1 class="title">
          <div style="color: #d48d22">Koronavirus?!</div>
          Spolu to dáme
          <img id="virus" src="<%= asset_path "virus.svg" %>" />
        </h1>
        <h2 class="subtitle">
          Dobrovolníky dostaneme tam, kde jsou třeba.
        </h2>
        <button id="chci-pomahat" class="button is-link is-pulled-left">
          Chci pomáhat
        </button>
      </div>
      <div class="column has-text-centered">
        <img src="<%= asset_path "hero.svg" %>" />
      </div>
    </div>
  </div>
  <div id="organizace" class="hero-body container">
    <div class="columns is-vcentered">
      <div class="column is-narrow">Organizace, které pomáhají</div>
      <div class="column logo"><img src="<%= asset_path "org.svg" %>" /></div>
      <div class="column logo"><img src="<%= asset_path "org.svg" %>" /></div>
      <div class="column logo"><img src="<%= asset_path "org.svg" %>" /></div>
      <div class="column logo"><img src="<%= asset_path "org.svg" %>" /></div>
      <div class="column logo"><img src="<%= asset_path "org.svg" %>" /></div>
      <div class="column is-narrow">a 54 dalších…</div>
    </div>
  </div>
</section>

<section class="introduction">

</section>

<footer class="footer">
  <div class="columns">
    <div class="column">
      <h3 class="title is-3">Co je vlastně Pomůžeme.si?<h3>
      <p>
        Jde o platformu, která je určena ke snažší organizaci dobrovolníků v rámci epidemie infekčního onemocnění COVID-19. Spojuje lidi v nouzi, které nenadále postihla karanténa či nedostupnost služeb, a dobrovolníky, kteří chtějí nezištně pomáhat.
      </p>
    </div>
    <div class="is-divider-vertical" data-content="OR"></div>
    <div class="column">
      <div class="level">
        <a class="level-item" href="#">Applifting &copy; 2020</a>
      </div>
    </div>
  </div>
</footer>