<div class="wave-container">
  <%= image_tag asset_path('bg-wave.svg'), class: 'wave' %>
</div>

<section id="intro" class="section-intro">
  <div class="section">
    <div class="intro-content">
      <div class="column-left">
        <h2><%= I18n.t 'landingpage.intro.title' %></h2>
        <p>
          <%= I18n.t 'landingpage.intro.description' %>
        </p>
      </div>
      <div class="column-right">
        <%= image_tag asset_path('intro.svg'), class: 'intro-image' %>
      </div>
    </div>
  </div>

</section>

<section class="section-counts">
  <div class="section">
    <h2 class="counts-header"><%= I18n.t 'landingpage.intro.countertitle' %></h2>

    <div class="supporters-counts-wrapper">
      <div class="supporters-counts-item">
        <div class="count">
          <%= 1855 %>
        </div>
        <div class="count-label"><%= I18n.t 'landingpage.intro.registeredvolunteers' %></div>
      </div>

      <div class="supporters-counts-item">
        <div class="count">
          <%= 17 %>
        </div>
        <div class="count-label"><%= I18n.t 'landingpage.intro.charitableorganisations' %></div>
      </div>
    </div>
  </div>
</section>

<div class="wave-container">
  <%= image_tag asset_path('bg-wave.svg'), class: 'wave bottom' %>
</div>