<section id="partners" class="section">
  <div class="section-orgs">
    <div class="text"><%= I18n.t 'landingpage.orgs.joinedorganisations' %></div>
    <div class="section">
      <%= content_tag(:div, logo_with_link(:hero_clan), class: 'org-logo') %>
      <%= content_tag(:div, logo_with_link(:diakonie), class: 'org-logo') %>
    </div>
    <div class="text"><%= I18n.t 'landingpage.orgs.supportedby' %></div>
    <div class="section">
      <%= content_tag(:div, logo_with_link(:o2), class: 'org-logo') %>
      <%= content_tag(:div, logo_with_link(:sedlakova_legal), class: 'org-logo') %>
      <%= content_tag(:div, logo_with_link(:teologicka_fakulta), class: 'org-logo') %>
    </div>
  </div>
</section>