<section id="pro-organizace" class="section-partner-contact section">
  <h3><%= I18n.t 'landingpage.contact.title' %></h3>
  <div class="partner-type-content">
    <div class="column-left">
      <h4><%= I18n.t 'landingpage.contact.lookingforvolunteers' %></h4>
      <div class="about_type">
        <ul>
          <li><%= I18n.t 'landingpage.contact.col1_point1' %></li>
          <li><%= I18n.t 'landingpage.contact.col1_point2' %></li>
        </ul>
      </div>
      <div>
        <a href="<%= ENV['NEED_VOLUNTEERS_GOOGLE_FORM']%>" target="_blank" rel="noopener noreferrer" class="main-button secondary" style="max-width: 340px">
          <%= I18n.t 'landingpage.buttons.requirevolunteers' %>
        </a>
        </br>
      </div>
    </div>
    <div class="column-right">
      <h4><%= I18n.t 'landingpage.contact.coordinatingvolunteers' %></h4>
      <div class="about_type">
        <p><%= I18n.t 'landingpage.contact.subtitle' %></p>
        <ul>
          <li><%= I18n.t 'landingpage.contact.col2_point1' %></li>
          <li><%= I18n.t 'landingpage.contact.col2_point2' %> *</li>
          <li><%= I18n.t 'landingpage.contact.col2_point3' %></li>
          <li><%= I18n.t 'landingpage.contact.col2_point4' %></li>
        </ul>
        <p class="asterix">* <%= I18n.t 'landingpage.contact.asterix' %></p>
      </div>
      <div>
        <a href="<%= ENV['REGISTER_ORG_URL']%>" target="_blank" rel="noopener noreferrer" class="main-button secondary" style="max-width: 340px">
          <%= I18n.t 'landingpage.buttons.registerorganisation' %>
        </a>
        </br>
      </div>
    </div>
  </div>
</section>