<row>
  <cell class="organisation flex">
    <%= request.distance_km_tag %>
    <div class="address">
      <%= request.address.short %>
    </div>
    <span class="title">
      <%= request.public_subscriber %>
    </span>
  </cell>
  <cell class="description"><%= request.long_text.presence || request.text %></cell>
  <cell class="counts flex center">
    <div class="flex">
      <span style="font-size: 12px">
        vytvořeno: <%= I18n.l request.created_at, format: :short %>
      </span>
      <span style="font-size: 12px">
        zbývá volných míst
      </span>
      <span class="number">
        <%= request.required_volunteer_count - request.requested_volunteers.select { |rv| rv.state == 'accepted' }.count %>
      </span>
    </div>
    <%= button if defined? button %>
  </cell>
</row>