<footer class="main-footer">
  <div class="footer-content section">
    <div class="column-left">
      <h4><%= I18n.t 'landingpage.footer.whatiswehelp' %></h4>
      <p class="body1">
        <%= I18n.t 'landingpage.footer.wehelpdescription' %>
      </p>
    </div>
    <div class="divider-vertical"></div>
    <div class="column-right">
      <%= image_tag asset_path('applifting-rocket.svg'), class: "rocket" %>
      <h4><%= I18n.t 'landingpage.footer.whoisbehind' %></h4>
      <p class="body1">
        <%= I18n.t 'landingpage.footer.whoisbehinddescription' %>
      </p>
      <div class="contact-item">
        <%= image_tag asset_path('web-icon.svg') %>
        <a href="https://www.applifting.cz">www.applifting.cz</a>
      </div>
      <div class="contact-item">
        <%= image_tag asset_path('email-icon.svg') %>
        <a href="mailto:info@pomuzeme.si "><%= I18n.t 'landingpage.contact.email' %> </a>
      </div>
    </div>
  </div>
  <div class="copy">
    <a href="#">Applifting &copy; 2020</a>
  </div>
</footer>