<section class="section-guide section">
  <h2>Jak to celé funguje?</h2>
  <h3>Chci pomáhat jako dobrovolník!</h3>
  <div class="guide-content">
    <div class="step">
      <%= image_tag asset_path('hiw-laptop.svg') %>
      <p>
        Zaregistrujete se jako dobrovolník
      </p>
    </div>
    <%= image_tag asset_path('arrow.svg'), class: 'arrow' %>
    <div class="step">
      <%= image_tag asset_path('hiw-phone.svg') %>
      <p>
        Budou vás kontaktovat dobročinné organizace z&nbsp;okolí
      </p>
    </div>
    <%= image_tag asset_path('arrow.svg'), class: 'arrow' %>
    <div class="step">
      <%= image_tag asset_path('hiw-thumbs-up.svg') %>
      <p>
        Společně se domluvíte na konkrétní pomoci potřebným
      </p>
    </div>
  </div>
  <div class="container has-text-centered">
    <button id="chci-pomahat-2" class="modal-button modal-trigger main-button" data-target="registration" aria-haspopup="true">
      Zaregistrovat se
    </button>
  </div>
</section>
