<section id="pro-organizace" class="section-partner-contact section">
  <h3><%= I18n.t 'landingpage.contact.title' %></h3>
  <div class="about_app">
    <p><%= I18n.t 'landingpage.contact.subtitle' %>:</p>
    <ul>
      <li><%= I18n.t 'landingpage.contact.point1' %></li>
      <li><%= I18n.t 'landingpage.contact.point2' %> *</li>
      <li><%= I18n.t 'landingpage.contact.point3' %></li>
      <li><%= I18n.t 'landingpage.contact.point4' %></li>
    </ul>
    <p class="asterix">* <%= I18n.t 'landingpage.contact.asterix' %></p>
  </div>
  <p>
    <%= I18n.t 'landingpage.contact.contactushere' %>: <a> <%= I18n.t 'landingpage.contact.email' %> </a>
  </p>
  <div>
    <a href="<%= ENV['REGISTER_ORG_URL']%>" target="_blank" rel="noopener noreferrer" class="main-button secondary" style="max-width: 340px">
      <%= I18n.t 'landingpage.buttons.registerorganisation' %>
    </a>
    </br>
    <a href="/admin" target="_blank" rel="noopener noreferrer">
      <%= I18n.t 'landingpage.contact.organisationlogin' %>
    </a>
  </div>
</section>