<section id="organizace" class="section-orgs">
  <div class="text">Projekt podporují</div>
  <%= image_tag asset_path('logo-o2.svg'), class: 'org-logo'  %>
  <%= image_tag asset_path('logo-trimed.svg'), class: 'org-logo'  %>
  <%= image_tag asset_path('nethost.png'), class: 'org-logo'  %>
  <%= image_tag asset_path('org.svg'), class: 'org-logo'  %>
  <%= image_tag asset_path('org.svg'), class: 'org-logo'  %>
  <div class="text">a 54 dalších…</div>
</section>
