<div class="wave-container">
  <%= image_tag asset_path('bg-wave.svg'), class: 'wave' %>
</div>

<section id="involvement" class="section-involvement">
  <div class="section">
    <h2>Kdo je do projektu zapojen</h2>
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s4">
            <a class="link" href="#tab-partners">Partneři</a>
          </li>
          <li class="tab col s4">
            <a class="active link" href="#tab-organizations">Dobročinné organizace</a>
          </li>
          <li class="tab col s4">
            <a class="link" href="#tab-development-team">Projektový tým</a>
          </li>
        </ul>
      </div>
      <div id="tab-partners" class="tab-content">
        <div class="logos-container">
          <%= content_tag(:div, link_to(image_tag(asset_path('logo-cadstudio.svg', alt: 'podpořili projekt pomuzeme.si záštitou', title: 'Cadstudio')), 'https://www.cadstudio.cz', target: '_blank'), class: 'partner-logo') %>
          <%= content_tag(:div, link_to(image_tag(asset_path('logo-nethost.svg', alt: 'podpořili projekt pomuzeme.si SMS branou', title: 'Nethost')), 'https://www.nethost.cz', target: '_blank'), class: 'partner-logo') %>
          <%= content_tag(:div, link_to(image_tag(asset_path('logo-o2.svg', alt: 'podpořili projekt pomuzeme.si SMS branou', title: 'O2')), 'https://www.o2.cz/', trget: '_blank'), class: 'partner-logo') %>
          <%= content_tag(:div, link_to(image_tag(asset_path('logo-sedlakova.svg', alt: 'podpořili projekt pomuzeme.si advokátními službami', title: 'Sedlákova Legl')), 'https://sedlakovalegal.com/', target: '_blank'), class: 'partner-logo') %>
          <%= content_tag(:div, link_to(image_tag(asset_path('logo-trimed.svg', alt: 'podpořili projekt pomuzeme.si záštitou', title: 'Trimed')), 'https://www.trimed.cz/', target: '_blank'), class: 'partner-logo') %>
          <%= content_tag(:div, link_to(image_tag(asset_path('logo-teologicka-fakulta.svg', alt: 'podpořili projekt pomuzeme.si záštitou', title: 'Evangelická teologická fakulta')), 'https://etf.cuni.cz', target: '_blank'), class: 'partner-logo') %>
          <%= content_tag(:div, link_to(image_tag(asset_path('logo-sestry-v-zaloze.svg', alt: 'podpořili projekt pomuzeme.si referencí ze svého webu', title: 'Sesty v záloze')), 'https://www.sestryvzaloze.info/', target: '_blank'), class: 'org-logo') %>
        </div>
      </div>
      <div id="tab-organizations" class="tab-content">
        <div class="logos-container">
          <%= image_tag asset_path('logo-charita.svg'), class: 'partner-logo' %>
          <%= image_tag asset_path('logo-diakonie.svg'), class: 'partner-logo' %>
          <%= image_tag asset_path('logo-duhovy-tandem.svg'), class: 'partner-logo' %>
          <%= image_tag asset_path('logo-hero-clan.svg'), class: 'partner-logo' %>
          <%= image_tag asset_path('logo-sestry-v-zaloze.svg'), class: 'partner-logo' %>
          <%= image_tag asset_path('logo-teologicka-fakulta.svg'), class: 'partner-logo' %>
        </div>
      </div>
      <div id="tab-development-team" class="tab-content">
        <div class="intro">
          <p>Tento projekt by nevznikl bez úsilí mnoha dobrovolníků. Všem moc děkujeme.</p>
        </div>
        <div class="developers">
          <% @project_volunteers.each do |volunteer| %>
            <div class="developer">
              <%= image_tag asset_path('volunteers/' + volunteer.fetch(:photo, :generic)), class: 'photo' %>
              <h4 class="name">
                <% if volunteer[:url].present? %>
                    <a href="<%= volunteer[:url] %>" target="_blank"><%= volunteer[:name] %></a>
                <% else%>
                    <%= volunteer[:name] %>
                <% end %>
              </h4>
              <p class="role"><%= volunteer[:role] %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="wave-container">
  <%= image_tag asset_path('bg-wave.svg'), class: 'wave bottom' %>
</div>