<section id="guide" class="section-guide section">
  <h2>Jak to celé funguje?</h2>
  <h3>Chci pomáhat jako dobrovolník!</h3>
  <div class="guide-content">
    <div class="step">
      <%= image_tag asset_path('hiw-laptop.svg') %>
      <p>
        Zaregistrujte se a v profilu upřesněte své zájmy a kvalifikace.
      </p>
    </div>
    <%= image_tag asset_path('arrow.svg'), class: 'arrow' %>
    <div class="step">
      <%= image_tag asset_path('hiw-phone.svg') %>
      <p>
        Nabídneme vám dobrovolnické příležitosti z&nbsp;okolí, nebo si sami
        <%= link_to 'vyberete z aktuálních žádostí', requests_path %> o pomoc.
      </p>
    </div>
    <%= image_tag asset_path('arrow.svg'), class: 'arrow' %>
    <div class="step">
      <%= image_tag asset_path('hiw-thumbs-up.svg') %>
      <p>
        Po přijetí žádosti vás kontaktuje příjemce pomoci a domluvíte se na podrobnostech.
      </p>
    </div>
  </div>
  <div class="container has-text-centered">
    <button id="cta-chci-pomahat-2" class="modal-button modal-trigger main-button" data-remote="true" aria-haspopup="true">
      Chci pomáhat
    </button>
  </div>
</section>
