<div class="wave-container">
  <%= image_tag asset_path('bg-wave.svg'), class: 'wave' %>
</div>

<section id="involvement" class="section-involvement">
  <div class="section">
    <h2>Kdo je do projektu zapojen</h2>
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s4">
            <a class="link" href="#tab-partners">Partneři</a>
          </li>
          <li class="tab col s4">
            <a class="active link" href="#tab-organizations">Dobročinné organizace</a>
          </li>
          <li class="tab col s4">
            <a class="link" href="#tab-development-team">Vývojový tým</a>
          </li>
        </ul>
      </div>
      <div id="tab-partners" class="tab-content">
        <div class="logos-container">
          <%= image_tag asset_path('logo-cadstudio.svg'), class: 'partner-logo' %>
          <%= image_tag asset_path('logo-nethost.svg'), class: 'partner-logo' %>
          <%= image_tag asset_path('logo-o2.svg'), class: 'partner-logo' %>
          <%= image_tag asset_path('logo-sedlakova.svg'), class: 'partner-logo' %>
          <%= image_tag asset_path('logo-trimed.svg'), class: 'partner-logo' %>
        </div>
      </div>
      <div id="tab-organizations" class="tab-content">
        <div class="logos-container">
          <%= image_tag asset_path('logo-charita.svg'), class: 'partner-logo' %>
          <%= image_tag asset_path('logo-diakonie.svg'), class: 'partner-logo' %>
          <%= image_tag asset_path('logo-teologicka-fakulta.svg'), class: 'partner-logo' %>
        </div>
      </div>
      <div id="tab-development-team" class="tab-container">

      </div>
    </div>
  </div>
</section>

<div class="wave-container">
  <%= image_tag asset_path('bg-wave.svg'), class: 'wave bottom' %>
</div>