<section id="guide" class="section-guide section">
  <h2><%= I18n.t 'landingpage.guide.howdoesitwork' %></h2>
  <h3><%= I18n.t 'landingpage.guide.iwanttovolunteer' %></h3>
  <div class="guide-content">
    <div class="step">
      <%= image_tag asset_path('hiw-laptop.svg') %>
      <p>
        <%= I18n.t 'landingpage.guide.stepone' %>
      </p>
    </div>
    <%= image_tag asset_path('arrow.svg'), class: 'arrow' %>
    <div class="step">
      <%= image_tag asset_path('hiw-phone.svg') %>
      <p>
        <%= I18n.t 'landingpage.guide.steptwo' %>
      </p>
    </div>
    <%= image_tag asset_path('arrow.svg'), class: 'arrow' %>
    <div class="step">
      <%= image_tag asset_path('hiw-thumbs-up.svg') %>
      <p>
        <%= I18n.t 'landingpage.guide.stepthree' %>
      </p>
    </div>
  </div>
  <div class="container has-text-centered">
    <button id="chci-pomahat-2" class="modal-button modal-trigger main-button" data-target="registration" aria-haspopup="true">
      <%= I18n.t 'landingpage.buttons.iwanttohelp' %>
    </button>
  </div>
</section>