<section id="organizace" class="section-orgs">
  <div class="text">Projekt podporují</div>
  <%= image_tag asset_path('logo-o2.svg'), class: 'org-logo'  %>
  <%= image_tag asset_path('logo-trimed.svg'), class: 'org-logo'  %>
  <%= image_tag asset_path('logo-nethost.svg'), class: 'org-logo'  %>
  <%= image_tag asset_path('logo-cadstudio.svg'), class: 'org-logo'  %>
  <%= image_tag asset_path('logo-charita.svg'), class: 'org-logo'  %>
  <%= image_tag asset_path('logo-teologicka-fakulta.svg'), class: 'org-logo'  %>
  <div class="text big-text">Pro tento nápad jsme nadchli další neziskovky s&nbsp;regionální působností a připravujeme s&nbsp;nimi spolupráci.</div>
</section>
