<!DOCTYPE html>
<html>
<head>
  <title>Pomůžeme.si</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="title" content="Pomůžeme.si | Koronavirus?! Spolu to dáme">
  <meta name="description" content="Pomáháme dostat dobrovolníky tam, kde jsou třeba.">

  <meta property="og:title" content="Pomůžeme.si | Koronavirus?! Spolu to dáme">
  <meta property="og:description" content="Pomáháme dostat dobrovolníky tam, kde jsou třeba.">
  <meta property="og:image" content="thumbnail.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="320">
  <meta property="og:image:height" content="320">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
</head>

<body>
<%= yield %>

<% if ENV['ENV_FLAVOR'] == 'production' %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160594719-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
          dataLayer.push(arguments);
      }

      gtag('js', new Date());

      gtag('config', 'UA-160594719-1');
  </script>
<% end %>
</body>

</html>
