<!DOCTYPE html>
<html>
<head>
    <% ga_measure_id = ENV['GA_MEASURE_ID'] %>
    <% if ga_measure_id.present? %>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','<%= ga_measure_id %>');</script>
        <!-- End Google Tag Manager -->
    <% end %>
    <title>Pomůžeme.si</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= render partial: 'common/page_meta' %>

    <meta property="og:type" content="website">
    <meta property="og:image" content="https://pomuzemesi.cz/thumbnail.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="320">
    <meta property="og:image:height" content="320">

    <meta property="twitter:card" content="summary">
    <meta property="twitter:site" content="@applifting_cz">
    <meta property="twitter:title" content="Pomůžeme.si | Koronavirus?! Spolu to dáme">
    <meta property="twitter:image" content="https://pomuzeme.si/thumbnail.png">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <% if ga_measure_id.present? %>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= ga_measure_id %>"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
    <% end %>

    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

<%= content_for?(:content) ? yield(:content) : yield %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&libraries=places&callback=signUpLocationCallback"></script>
  <script>
      $(document).ready(function() {
          M.CharacterCounter.init(document.querySelectorAll('#validation-code'));
      });
  </script>
</body>

</html>
